
:root {
    --font-size-base: 16px;
    --font-size-small: 0.75rem;
    --font-size-large: 2rem;
    --font-family-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, Arial, "Helvetica Neue", sans-serif;
    --font-family-sans-2: "Lucida Grande", Verdana, sans-serif;
    --font-family-sans-1: Helvetica, Arial, sans-serif;
    --font-family-mono: "Fira Code", monospace;
    --column-width: calc(100vw / 3);
    --column-gap: calc( (100vw - (2 * var(--column-width))) / 3);
}


html {
    font-size: var(--font-size-base);
}
body {
    position: relative;
    font-family: var(--font-family-system);
}


footer {
    display: grid;
    /* display: none; */
    grid-template-columns: auto 10fr auto;
    column-gap: 1rem;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: auto;
    padding: 1em;
    font-size: var(--font-size-small);
    /* background-color: white; */
    /* border-top: 1px solid black; */
}
.hidden {
    display: none;
}
button, select {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#main-grid {
    display: grid;
    grid-template-columns: repeat(2, var(--column-width));
    grid-gap: var(--column-gap);
    width: calc(2 * var(--column-width) + var(--column-gap));
    margin: auto;
    background-color: transparent;
    z-index: 1;
}
.cave-column {
    position: relative;
    background-color: white;
    padding: 1rem;
    /* margin-bottom: auto; */
    align-self: start;
    border-radius: 1rem;
    box-shadow: 0.15rem 0.15rem 2rem black;
    cursor: e-resize;
}
.cave-column:hover {
    box-shadow: 0.25rem 0.25rem 2rem black;
}
#cave-1 {
    margin-top: 4rem;
}
#cave-2 {
    margin-top: 1rem;
}

.image-filename {
    display: none;
}

.image-container {
    width: calc(var(--column-width) - 2rem);
    height: calc(var(--column-width) - 2rem);
    position: relative;
}
.image {
    position: absolute;
    top: 50%;
    left: 50%;
    /* margin-right: -50%; */
    transform: translate(-50%, -50%)
}
.landscape {
    width: 100%;
    height: auto;
}
.portrait {
    height: 100%;
    width: auto;
}

.caption {
    padding: 0 0 1rem 0;
}
#caption-1 {
    padding-right: 1em;
}

.info-container {
    display: grid;
    grid-template-columns: 2rem auto;
    align-items: stretch;
    padding: 1em 0;
}
.icon-container {
    position: relative;
}
.icon {
    position: absolute;
    left: 0;
    height: auto;
    width: 1.5rem;
    /* padding: 0 0 0 0.25rem; */
}
.date-source {
    position: absolute;
    bottom: 0;
    font-size: var(--font-size-small);
}
.date-source-blur {
    position: relative;
    color: gray;
    /* font-size: var(--font-size-small); */
}

.centered-h {
    left: 50%;
    /* margin-right: -50%; */
    transform: translate(-50%, 0%);
}
.centered-v {
    top: 50%;
    /* margin-right: -50%; */
    transform: translate(0%, -50%);
}



a {
    text-decoration: none;
    color: black;
}




.bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}
.bg-img {
    height: 100vh;
    /* width: auto; */
    object-fit: cover;
}

.video-container {
    /* display: none; */
    position: relative;
    position: absolute;
    width: 100vw;
    height: 100vh;
    padding:62.5% 0 0 0;
    z-index: 2;
    /* border-radius: 1rem; */
    background-color: white;
}

.popup {
    position: absolute;
    bottom: 0;
    height: 2em;
    font-size: var(--font-size-small);
    color: white;
    background-color: transparent;
}