
/* CSS Variables */
:root {
    --font-size-base: 16px;
    --font-size-small: 0.75rem;
    --font-size-large: 2rem;
    --font-family-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, Arial, "Helvetica Neue", sans-serif;
    --font-family-serif: "Times New Roman", serif;
    --font-family-sans: Helvetica, "Lucida Grande", Verdana, Arial, sans-serif;
}
/* @media screen and (min-width: 1280px) {
    :root {
        --font-size-base: 2vw;
    }
} */

html {
    font-size: var(--font-size-base);
}
body {
    /* padding: 1rem; */
    font-family: var(--font-family-sans);
}
body.darkmode {
    color: white;
    background-color: black;
}

footer {
    display: none;
    position: fixed;
    width: 100vw;
    height: auto;
    bottom: 0;
}

main#main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4vw;
    margin: 0 8vw;
    /* padding-top: 1vw; */
}
.cave-column {
    position: relative;
    min-height: 100vh;
}

.image-filename {
    display: none;
}

.image-container {
    width: 40vw;
    height: 40vw;
    position: relative;
    /* border: 1px dotted grey; */
    margin-top: 1vw;
}
.image {
    position: absolute;
    top: 50%;
    left: 50%;
    /* margin-right: -50%; */
    transform: translate(-50%, -50%)
}
.landscape {
    width: 100%;
    height: auto;
}
.portrait {
    height: 100%;
    width: auto;
}

.caption, .date-source {
    padding: 2em 0;
} 
.date-source {
    position: absolute;
    bottom: 0;
    /* width: 120px; */
    font-size: var(--font-size-small);
}

.centered-h {
    left: 50%;
    /* margin-right: -50%; */
    transform: translate(-50%, 0%);
}