
/* CSS Variables */
:root {
    --font-size-base: 16px;
    --font-size-small: 0.75rem;
    --font-size-large: 2rem;
    --font-family-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, Arial, "Helvetica Neue", sans-serif;
    --font-family-sans-2: "Lucida Grande", Verdana, sans-serif;
    --font-family-sans-1: Helvetica, Arial, sans-serif;
    /* --column-width: 500px;
    --column-gap: 150px; */
    --column-width: calc(100vw / 3);
    --column-gap: calc(100vw / 9);
}


html {
    font-size: var(--font-size-base);
}
body {
    /* padding: 1rem; */
    font-family: var(--font-family-system);
}
body.darkmode {
    color: white;
    background-color: black;
}

footer {
    display: grid;
    display: none;
    grid-template-columns: 2fr auto;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: auto;
    padding: 1em;
    font-size: var(--font-size-small);
    background-color: white;
    border-top: 1px solid black;
}

main#main-grid {
    display: grid;
    grid-template-columns: repeat(2, var(--column-width));
    grid-gap: var(--column-gap);
    width: calc(2 * var(--column-width) + var(--column-gap));
    margin: auto;
}
.cave-column {
    position: relative;
    min-height: 100vh;
}

.image-filename {
    display: none;
}

.image-container {
    width: var(--column-width);
    height: var(--column-width);
    position: relative;
    margin-top: 2rem;
}
.image {
    position: absolute;
    top: 50%;
    left: 50%;
    /* margin-right: -50%; */
    transform: translate(-50%, -50%)
}
.landscape {
    width: 100%;
    height: auto;
}
.portrait {
    height: 100%;
    width: auto;
}

.caption {
    padding: 2em 0;
} 
.date-source {
    position: absolute;
    bottom: 0;
    padding: 1em 0;
    font-size: var(--font-size-small);
}

.centered-h {
    left: 50%;
    /* margin-right: -50%; */
    transform: translate(-50%, 0%);
}