<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ '/css/reset.css' | url }}">
	<link rel="stylesheet" href="{{ '/css/blur.css' | url }}">
    <script src="{{ '/js/markdown-it.min.js' | url }}"></script>
</head>